body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #002d62;
}

section {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

button {
    padding: 10px 20px;
    border: none;
    background: #0074ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #005acc;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

pre {
    background: black;
    color: #00ff9d;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}
.btn-volver {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #ff3b3b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.btn-volver:hover {
    background: #d32f2f;
}
